.header {
    background-color: orangered;
    text-align: center;
    color: white;
    height: 60px;
}

.header p {
    position: relative;
    bottom: 20px;
}

.button-add img {
    width: 52px;
    position: fixed;
    left: 1%;
}

.insert {
    position: fixed;
    top: 90px;
    left: 30px;
    width: 86%;
}

.get {
    /*background-color: red;
    color: white;*/
    width: 96%;
    position: fixed;
    left: 2%;
    top: 185px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.get .col {
    background-color: red;
    position: relative;
    left: 43px;
    margin-left: -86px;
}

.table {
    display: table;
    width: 64%;
    position: relative;
    border-collapse: collapse;
    top: 125px;
    left: 30px;
    text-align: center;
}

.table-header {
    display: table-header-group;
    background-color: orangered;
    color: white;
    border-bottom: 1px solid #ccc;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ccc;
}

.table-header .table-cell {
    font-weight: bold;
}

.add-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    top: 8px;
    left: 4.5vh;
    width: 40px;
}

.add-button svg {
    width: 40px;
    height: 40px;
    fill: white;
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    position: relative;
    left: 26%;
}

.icon-button svg {
    width: 25px;
    height: 25px;
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    position: relative;
    right: 44.6%;
    top: 12px;
}

.delete-button svg {
    width: 35px;
    height: 35px;
}

.save-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    position: relative;
    right: 44.6%;
    top: 12px;
}

.save-icon svg {
    width: 35px;
    height: 35px;
}

.save-icon-modal {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    position: relative;
    right: 0.6%;
    top: 1px;
}

.save-icon-modal svg {
    width: 35px;
    height: 35px;
}

.title-modal {
    position: relative;
    top: 4px;
    left: 32%;
}

@media (min-width: 500px) {
    h4.title-modal {
        left: 41%;
        transform: translateX(-50%);
    }
}

@media (max-width: 500px) {
    button.save-icon {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: inline;
        position: relative;
        right: 36.6%;
        top: 12px;
    }
}

@media (max-width: 500px) {
    button.delete-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: inline;
        position: relative;
        right: 36.6%;
        top: 12px;
    }
}