<header>
    <nav class="header">
        <a class="button-add" href="#">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Finterface%2F100%2Fadd_button_4-1024.png&f=1&nofb=1&ipt=e862f52a59477f9f3498f496f7ba13653ad9b4838a92876f150f0444df882483&ipo=images"
                alt="">
        </a>
        <p>Consulta de Produto</p>
    </nav>
</header>

<main>
    <div class="insert">
        <div class="row">
            <div class="col">
                <label for="formGroupExampleInput" class="form-label">Código</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
            </div>
            <div class="col">
                <label for="formGroupExampleInput2" class="form-label">Descrição</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
            </div>
            <div class="col">
                <label for="formGroupExampleInput2" class="form-label">Custo</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
            </div>
            <div class="col">
                <label for="formGroupExampleInput2" class="form-label">Preço de Venda</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
            </div>
        </div>
    </div>

    <div class="get">
        <div class="container text-center">
            <div class="row">
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
            </div>
          </div>
    </div>
</main>